

<div class="container-fluid text-center">

  <svg class="syn" viewBox="0 0 600 300"><!-- Symbol-->
    <symbol id="s-text"><text text-anchor="middle" x="50%" y="50%" dy=".35em">Angular</text></symbol>
    <!-- Duplicate symbols-->
    <use class="text" xlink:href="#s-text"></use>
    <use class="text" xlink:href="#s-text"></use>
    <use class="text" xlink:href="#s-text"></use>
    <use class="text" xlink:href="#s-text"></use>
    <use class="text" xlink:href="#s-text"></use>
  </svg>

</div>


<div class="jumbotron text-danger">
  <h1 class="display-4 font-weight-bold">{{title}}!</h1>
  <p class="lead font-weight-bold">Este es un componente angular donde se añaden posts y se pueden visualizar.</p>
  <hr class="my-4">
  <p class="font-weight-bold">Al pulsar el botón se muestran los posts</p>
  <p class="lead">
    <button class="btn btn-primary btn-lg font-weight-bold" (click)="hazcosas()" role="button">Ver Posts</button>
  </p>
</div>




<div class="container mb-5">

  <div class="row">
    <div class="col-lg-6">
<img class="w-100 h-100 d-block mx-auto" [src]='card'>
</div>
<div class="col-lg-6">
<app-blogform></app-blogform>

  </div>
</div>
<div class="row">
  <div class="col-lg-12">
<button class="btn btn-primary d-lg btn-lg  d-block mx-auto mt-5" type="button" [disabled]='choice'
(click)="hazcosas()">Mostrar u ocultar los blogs</button>
</div>
</div>

</div>
<div class="container" mt-100>
<app-bloglist></app-bloglist>
  </div>
